* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2F2F2;
  font-family: 'Helvetica Nueue', 'Helvetica', Arial, sans-serif ;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

header#main-header {
  box-sizing: border-box;
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header#main-header .content {
  height: 64px;
  background: #4A90E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header div#side {
  margin: 0 40px;
  color: #FFF;
}

header#main-header img {
  margin: 0 40px;
}

.profile-svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-left: 9px;
}

.str {
  display: flex;
  align-items: center;
}
